<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>About</h2>

        <p>
          Blockcore is an open source project started by a group of blockchain developers and engineers to realize a fully integrated platform for building custom blockchains.
        </p>

        <p>
          Support the project by starring it on <a href="https://github.com/block-core/blockcore-dapp"
            target="_blank">
            GitHub
          </a>.
        </p>

        <p>
          Made with <mat-icon>favorite</mat-icon> 
        </p>


      </mat-card-content>
    </mat-card>

  </div>
</div>